.App {
  margin: 30px auto;
  max-width: 650px;
}

.App footer {
  font-size: 11px;
  margin-top: 20px;
}

.App-wrapper {
  background-color: turquoise;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 4px;
  border: 0px;
  box-shadow: 5px 5px 8px rgba(71, 71, 71, 0.5);
}
