.WeatherForecast {
  text-align: center;
  padding-top: 20px;
}

.WeatherForecast-temperatures-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast .WeatherForecastDay {
  color: #01345b;
  background-color: rgba(238, 221, 231, 0.658);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
}
